@model Bi42.Models.Bid

@{
    ViewBag.Title = "Заявка №"+Model.BidID+", заказ №"+Model.OrderID;
}
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm())
            {
            <div class="row">
                <div class="col-md-12">
                    <input type="submit" value="Удалить | Закрыть заявку" class="btn btn-primary" />
                    &nbsp;&nbsp;
                    @Html.ActionLink("Отменить", "BidDetails", "Bid", new { id = Model.BidID }, new { @class = "btn btn-default" })
                </div>
            </div>
        }
    </div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
    <div class="col-md-3">
        <div class="row">
            @Html.LabelFor(model => model.OrderName)
            @Html.TextBoxFor(model => model.OrderName, new { @class = "form-control", @readonly="readonly" })
        </div>
        <div class="row">
            @Html.LabelFor(model => model.BudgetLevelName)
            @Html.TextBoxFor(model => model.BudgetLevelName, new { @class = "form-control", @readonly = "readonly" })
        </div>
        <div class="row">
            @Html.LabelFor(model => model.Budget)
            @Html.TextBoxFor(model => model.Budget, new { @class = "form-control", @readonly = "readonly" })
        </div>
        <div class="row">
            @Html.LabelFor(model => model.StartTime)
            @Html.TextBoxFor(model => model.StartTime, new { @class = "form-control", @readonly = "readonly" })
        </div>
        <div class="row">
            @Html.LabelFor(model => model.OrderStatusName)
            @Html.TextBoxFor(model => model.OrderStatusName, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>

    <div class="col-md-offset-1 col-md-6">
        <div class="row">
            @Html.LabelFor(model => model.OrderDescription)
            @Html.TextAreaFor(model => model.OrderDescription, new { rows = 15, @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
</div>

<br>
<h4>Моя заявка</h4>

    <div class="row">
        <div class="col-md-3">
            <div class="row">
                @Html.LabelFor(model => model.BidStatusName)
                @Html.TextBoxFor(model => model.BidStatusName, new { @class = "form-control", @readonly = "readonly" })
            </div>
            <div class="row">
                @Html.LabelFor(model => model.CostTotal)
                @Html.TextBoxFor(model => model.CostTotal, new { @class = "form-control", @readonly = "readonly" })
            </div>
            <div class="row">
                @Html.LabelFor(model => model.TimeRate)
                @Html.TextBoxFor(model => model.TimeRate, new { @class = "form-control", @readonly = "readonly" })
            </div>
            <div class="row">
                @Html.LabelFor(model => model.StartTime)
                @Html.TextBoxFor(model => model.StartTime, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="col-md-offset-1 col-md-6">
            <div class="row">
                @Html.LabelFor(model => model.Description)
                @Html.TextAreaFor(model => model.Description, new { rows = 15, @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm())
            {
            <div class="row">
                <div class="col-md-12">
                    <input type="submit" value="Удалить | Закрыть заявку" class="btn btn-primary" />
                    &nbsp;&nbsp;
                    @Html.ActionLink("Отменить", "BidDetails", "Bid", new { id = Model.BidID }, new { @class = "btn btn-default" })
                </div>
            </div>
        }
    </div>
</div>
