@model Bi42.Models.Shop

@{
    ViewBag.Title = "Магазин";
}

@if (Model != null)
{

    @section featured {
        <div class="alert alert-info">
            Внимание, вы может создать только один магазин.
        </div>
    }
    
    <div class="row">
        <div class="col-md-4">
            @Html.LabelFor(model => model.Name, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @readonly="readonly" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            @Html.LabelFor(model => model.ShopAreaID, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.ShopArea.Name, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            @Html.LabelFor(model => model.Logo, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Logo, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    if (Model.LogoImage != null)
    {
        <div class="row">
            <div class="col-md-4">
                @Html.Label("LogoImage", new { @class = "control-label" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img id="LogoImage" class="img-thumbnail" src="@Model.LogoImage" />
            </div>
        </div>
    }

    <div class="row">
        <div class="col-md-4">
            @Html.LabelFor(model => model.SiteUrl, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.SiteUrl, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            @Html.LabelFor(model => model.Phone, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            @Html.LabelFor(model => model.Email, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            @Html.LabelFor(model => model.PublishTime, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.PublishTime, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @Html.LabelFor(model => model.Description, new { @class = "control-label" })
            @Html.TextAreaFor(model => model.Description, new { rows = 5, @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            @Html.LabelFor(model => model.IsActive, new { @class = "control-label" })
            @Html.DisplayFor(model => model.IsActive)
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-2">
            @Html.ActionLink("Изменить", "Edit", new { id = Model.ShopID }, new { @class = "btn btn-default" })
        </div>
        <div class="col-md-1">
            @Html.ActionLink("Удалить", "Delete", new { id = Model.ShopID }, new { @class = "btn btn-default" })
        </div>
    </div>
}
else
{
    <div class="alert alert-warning">
       Ваш магазин не создан, нажмите кнопку "Создать" для настройки вашего магазина.
    </div>

    <div class="row">
        <div class="col-md-1">
            @Html.ActionLink("Создать", "Create", null, new { @class = "btn btn-primary" })
        </div>
    </div>
}


