@model IEnumerable<Bi42.Models.ShopBoard>

@{
    ViewBag.Title = "Ваша доска объявлений ТОП 5";
}

@section featured {
    <div class="alert alert-info">
        Создайте вашу доску объявлений ТОП 5.
    </div>
}

<table class="table table-bordered">
    <tr>
        <th width="200px">
            @if (ViewBag.IsExistShop && Model.Count() < 5)
            { 
                @Html.ActionLink("Создать новость", "Create", null, new { @class="btn btn-link" })
            }
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="white-space:nowrap">
                @Html.ActionLink("Посмотреть", "Details", new { id = item.ShopBoardID }, new { @class = "btn btn-link" }) |
                @Html.ActionLink("Изменить", "Edit", new { id = item.ShopBoardID }, new { @class = "btn btn-link" }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.ShopBoardID }, new { @class = "btn btn-link" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (item.IsActive == true)
                {
                    @Html.DisplayFor(modelItem => item.IsActive)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        </tr>
    }

</table>
