@model Bi42.Models.Commodity

@{
    ViewBag.Title = "Удаление товара";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            @Html.LabelFor(model => model.Name, new { @class = "control-label"})
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @readonly="readonly" })
        </div>
    </div>
   @if (Model.PhotoImage != null)
   {
    <div class="row">
        <div class="col-md-2">
            @Html.Label("PhotoImage", new { @class = "control-label" })
            <img id="PhotoImage" src="@Model.PhotoImage" />
        </div>
    </div>
   }
    <div class="row">
        <div class="col-md-6">
            @Html.LabelFor(model => model.Description, new { @class = "control-label" })
            @Html.TextAreaFor(model => model.Description, new { rows = 5, @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            @Html.LabelFor(model => model.Price, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Price, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            @Html.LabelFor(model => model.IsActive, new { @class = "control-label" })
            @Html.DisplayFor(model => model.IsActive)
        </div>
    </div>
    <div class="row">&nbsp;</div>

@using (Html.BeginForm())
{
        <div class="row">
            <div class="col-md-2">
                <input type="submit" class="btn btn-primary" value="Удалить" />
            </div>
            <div class="col-md-1">
                @Html.ActionLink("Назад", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
}
</div>