@model Bi42.Models.Order

@section styles {
    @Styles.Render("~/Content/UI/themes/base")
}

@{
    ViewBag.Title = "Создать заказ";
}

@section featured {
    <div class="alert alert-info">
        Укажите наименование заказа, объём работы, сроки, обязательные требования и предпологаемый бюджет.
        Укажите для заказа статус "Тендер", чтобы заказ увидели подрядчики.
    </div>
}



@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" })) {
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.OrderAreaID, new { @class = "control-label" })
                    @Html.DropDownList("OrderAreaID", null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.OrderAreaID)
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.BudgetLevelID, new { @class = "control-label" })
                    @Html.DropDownList("BudgetLevelID", null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BudgetLevelID)
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.Budget, new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Budget, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Budget)
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    @Html.LabelFor(model => model.Description, new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = "10" })
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    @Html.LabelFor(model => model.Requirement, new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.Requirement, new { @class = "form-control", rows = "5" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.OrderFile, new { @class = "control-label" })
                    @if (Model.OrderFile != null)
                    {
                        <a href="@Model.OrderFile">Загрузить архив</a>
                        <span>Удалить архив?</span> @Html.CheckBox("delAttach");
                        <br />
                    }
                    <input type="file" name="file" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.StartTime, new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.StartTime, "{0:dd.MM.yyy}", new { @class = "picker form-control" })
                    @Html.ValidationMessageFor(model => model.StartTime)
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.OrderStatusID, new { @class = "control-label" })
                    @Html.DropDownList("OrderStatusID", null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.OrderStatusID)
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-md-12">
                    <input type="submit" class="btn btn-primary" value="Создать" />
                    &nbsp;&nbsp;
                    @Html.ActionLink("Отменить", "Index", null, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript">
        $(document).ready(function () {
            $('.picker').datepicker($.datepicker.regional['ru']);
        });
    </script>
}
