@model IEnumerable<Bi42.Models.PublicOrderMessage>

@{
    ViewBag.Title = "Лента публичных сообщений заказа";
}

@section featured {
    <div class="alert alert-info">
        Напишите текст сообщения и ваше сообщение будет доступно всем исполнителям.
    </div>
}


<div class="row">
    <label for="Message" class="control-label">Текст сообщения</label>
    @using (Html.BeginForm("Create", null, FormMethod.Post))
    {
        @Html.ValidationSummary(true)
        <input type="hidden" name="OrderID" value="@ViewBag.OrderID">
        <div class="row">
            <div class="col-md-12">
                <textarea id="Message" name="Message" cols="80" rows="5" class="form-control"></textarea>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-12">
                <input type="submit" value="Отправить" class="btn btn-default">
                &nbsp;&nbsp;
                @Html.ActionLink("Назад", "Details", "Order", new { orderid = @ViewBag.OrderID }, new { @class = "btn btn-default" })
            </div>
        </div>
    }
</div>
<div class="row">&nbsp;</div>
<div class="row">
    <div class="col-md-12" id="messages">
        @foreach (var item in Model)
        {
            <div class="row">
                @Html.DisplayFor(modelItem => item.PublishTime), профиль: @Html.DisplayFor(modelItem => item.Profile.Name)
                <div class="well">
                    @Html.DisplayFor(modelItem => item.Message)
                </div>
            </div>
        }
    </div>
</div>

@section scripts{
    <script type="text/javascript">
    var lastid = @ViewBag.LastID;
    function getTime() {
        var date = new Date();
        return date.getTime();
    }

    function getMessages() {
        var param = {t: new Date().getTime(), id: @ViewBag.OrderID, lastid: lastid };
        $.get('@Url.Action("GetLastPublicMessages")', param, function (data) {
            if (data != null) {
                context = '';
                if (data.rowcount > 0) {
                    lastid = data.rows[0].id;
                    $.each(data.rows, function (index, row) {
                        context += '<div class="row">';
                        context += row.publishtime + ', профиль: ' + row.profile;
                        context += '<div class="well">' + row.message  + '</div>';
                        context += '</div>';
                    });
                    $('#messages').prepend(context);
                }
            }
        });
    }

    $(document).ready(function () {
        window.setInterval(function(){
            getMessages();
        }, 5000);
    });
    </script>

}