@model IEnumerable<Bi42.Models.Bid>

@{
    ViewBag.Title = "Мои заявки";
}
<div class="row">

<table width="100%" class="table table-bordered">
    <tr>
        <th width="200px"></th>
        <th>
            @Html.DisplayNameFor(model => model.OrderName)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.Order.OrderAreaName)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.OrderStatusID)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.BidStatusName)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.BudgetLevelName)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.Budget)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.CostTotal)
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td style="white-space:nowrap">
            @Html.ActionLink("Открыть", "BidDetails", new { id = item.BidID }, new { @class = "btn btn-link" })
            <br>
            @Html.ActionLink("Приватное сообщение","Index", "PrivateMessage", new { id = item.BidID, retAction="Index" }, new { @class = "btn btn-link" })
        </td>
        <td>
            @Html.ActionLink(item.Order.ProfileName, "ProfileView", "Profile", new { id = item.Order.ProfileID, area = "Customer" }, null)
            <br>
            @Html.DisplayFor(modelItem => item.OrderName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.OrderAreaName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderStatusName)
        </td>
        <td>
            @(item.Status == 1 ? "Архив" : "")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BidStatusName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BudgetLevelName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Budget)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostTotal)
        </td>
    </tr>
}

</table>

</div>
