@model Bi42.Models.Order

@{
    ViewBag.Title = "Детали заказа №" + Model.OrderID + ", " + Model.Name;
}

    <div class="row">
        <div class="col-md-12">
            @if (Model.OrderStatusID == 1)
            {
                @Html.ActionLink("Изменить заказ", "Edit", new { orderid = Model.OrderID }, new { @class = "btn btn-default" })
                @:&nbsp;&nbsp;
            }
            @if (Model.OrderStatusID < 6)
            {
                @Html.ActionLink("Удалить | Закрыть заказ", "Delete", new { orderid = Model.OrderID }, new { @class = "btn btn-default" })
                @:&nbsp;&nbsp;
            }
            @Html.ActionLink((string)("Лента публичных сообщений" + (ViewBag.NewPublicMessages > 0 ? ", Новых " + ViewBag.NewPublicMessages : "")), "Index", "PublicMessage", new { orderid = Model.OrderID }, new { @class = "btn btn-default" })
            &nbsp; &nbsp;
            @if (Model.OrderStatusID == 3 || Model.OrderStatusID == 4)
            {
                @Html.ActionLink((string)("Задачи" + (ViewBag.NewOrderTasks > 0 ? ", Новых " + ViewBag.NewOrderTasks : "")), "Index", "OrderTask", new { orderid = Model.OrderID }, new { @class = "btn btn-default" });
                @:&nbsp; &nbsp;
                
            }
            @Html.ActionLink("Назад", "Index", "Order", new { area = "Customer" }, new { @class = "btn btn-default" })

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">&nbsp;</div>
    </div>
<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(model => model.OrderAreaName, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.OrderAreaName, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(model => model.OrderStatusName, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.OrderStatusName, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(model => model.PublishTime, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.PublishTime, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(model => model.BudgetLevelName, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.BudgetLevelName, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Budget, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Budget, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(model => model.StartTime, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.StartTime, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Description, new { @class = "control-label" })
                @if (Model.OrderFile != null)
                {
                    @Html.ActionLink("Загрузить файл", "GetOrderFile", new { id = Model.OrderID })
                }
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = "10", @readonly = "readonly" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Requirement, new { @class = "control-label" })
                @Html.TextAreaFor(model => model.Requirement, new { @class = "form-control", rows = "5", @readonly = "readonly" })
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                @if (Model.Contracts.Count > 0) {
                <h4>Подрядчики</h4>
                <table class="table table-bordered">
                    <th>
                        Профиль
                    </th>
                    <th class="col-md-1">
                        
                    </th>
                @foreach (var row in Model.Contracts)
                {
                    <tr>
                        <td>
                            <b>@Html.ActionLink(row.Bid.ProfileName, "ProfileView", "Profile", new { id = row.Bid.ProfileID, area = "Employee" }, null)</b>
                            <br>
                            @row.Bid.Profile.Description
                        </td>
                        <td class="text-center">
                            @Html.ActionLink("Открыть контракт", "ContractText", "Contract", new { orderid = Model.OrderID, b = row.BidID }, new { @class = "btn btn-default" })
                            <br><br>
                            @Html.ActionLink((string)("Приватное сообщение" + (ViewBag.NewPrivateMessages > 0 ? ", Новых " + ViewBag.NewPrivateMessages : "")), "Index", "PrivateMessage", new { orderid = Model.OrderID, bid = row.BidID, retAction = "Details" }, new { @class = "btn btn-default" })
                            @if (row.ReportTime != null)
                            {
                                <br><br>
                                @Html.ActionLink("Отчёт о выполнении", "ContractReport", "Contract", new { orderid = Model.OrderID, b = row.BidID }, new { @class = "btn btn-default" })
                                <br><br>
                                @Html.ActionLink("Оставить отзыв", "Index", "FeedBack", new { p = row.Bid.ProfileID, o = Model.OrderID }, new { @class = "btn btn-default" })
                            }
                        </td>
                    </tr>
                }
                </table>
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">&nbsp;</div>
</div>
<div class="row">
    <div class="col-md-12">
        @if (Model.OrderStatusID == 1)
        {
            @Html.ActionLink("Изменить заказ", "Edit", new { orderid = Model.OrderID }, new { @class = "btn btn-default" })
            @:&nbsp;&nbsp;
        }
        @if (Model.OrderStatusID < 6) { 
            @Html.ActionLink("Удалить | Закрыть заказ", "Delete", new { orderid = Model.OrderID }, new { @class = "btn btn-default" })
            @:&nbsp;&nbsp;
        }
        @Html.ActionLink((string)("Лента публичных сообщений" + (ViewBag.NewPublicMessages > 0 ? ", Новых " + ViewBag.NewPublicMessages : "")), "Index", "PublicMessage", new { orderid = Model.OrderID }, new { @class = "btn btn-default" })
        &nbsp; &nbsp;
        @if (Model.OrderStatusID == 3 || Model.OrderStatusID == 4)
        {
            @Html.ActionLink((string)("Задачи" + (ViewBag.NewOrderTasks > 0 ? ", Новых " + ViewBag.NewOrderTasks : "")), "Index", "OrderTask", new { orderid = Model.OrderID }, new { @class = "btn btn-default" })
            @:&nbsp; &nbsp;
        }
        @Html.ActionLink("Назад", "Index", null, new { @class = "btn btn-default" })

    </div>
</div>
