@model Bi42.Models.Profile
@{
    ViewBag.Title = Model.Name;
	ViewBag.description = Model.Description;
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(model => model.OrderAreaID, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.OrderArea.Name, null, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.OrderAreaID)
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Slogan, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Slogan, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.Slogan)
            </div>
        </div>
        @if (Model.LogoImage != null)
        {
            <div class="row">
                <div class="col-md-12">
                    @Html.Label("LogoImage", new { @class = "control-label" })
                    <br />
                    <img id="LogoImage" src="@Url.Action()@Model.LogoImage" />
                </div>
            </div>
        }
        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(model => model.SiteUrl, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.SiteUrl, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.SiteUrl)
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Phone, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.Phone)
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Email, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Description, new { @class = "control-label" })
                @Html.TextAreaFor(model => model.Description, new { rows = 5, @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>
        <div class="row">&nbsp;</div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <h4>Отзывы подрядчиков</h4>
				@foreach (var item in Model.FeedBacks.OrderByDescending(x => x.PublishTime).Take(5))
                {
                    @Html.ActionLink(item.FromProfile.Name, "ProfileView", "Profile", new { id = item.FromProfileID, area = "Employee" }, null)
                    <br/>
                    @:Дата @(((DateTime)item.PublishTime).ToString("dd.MM.yyyy"))
                    @:Оценка <span class="badge">@item.Estimation</span>
                    <br/>
                    @item.Description
                    <br/>
                }
            </div>
        </div>
    </div>

</div>