@model Bi42.Models.MyWork
@{
    ViewBag.Title = "Удаление примера работ";
}
@section featured {
   <div class="alert alert-info">
    Пример работы удаляется безвозратно.
</div>
}

<div class="row">
    <div class="col-md-8">
        @Html.LabelFor(model => model.Name, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(model => model.Name)
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        @Html.LabelFor(model => model.ProfileID, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Profile.Name, null, new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(model => model.ProfileID)
    </div>
</div>
@if (Model.MyWorkImage != null)
{
    <div class="row">
        <div class="col-md-8">
            @Html.Label("MyWorkImage", new { @class = "control-label" })
            <br>
            <img id="MyWorkImage" src="@Model.MyWorkImage" />
        </div>
    </div>
}

<div class="row">
    <div class="col-md-8">
        @Html.LabelFor(model => model.SiteUrl, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.SiteUrl, new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(model => model.SiteUrl)
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        @Html.LabelFor(model => model.Description, new { @class = "control-label" })
        @Html.TextAreaFor(model => model.Description, new { rows = 5, @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(model => model.Description)
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        @Html.DisplayFor(model => model.IsActive)
        @Html.LabelFor(model => model.IsActive, new { @class = "control-label" })
    </div>
</div>
<div class="row">&nbsp;</div>
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-8">
            <input type="submit" class="btn btn-primary" value="Удалить" />
            &nbsp;&nbsp;
            @Html.ActionLink("Назад", "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>
}
