@using PagedList.Mvc;
@model PagedList.IPagedList<Bi42.Models.OrderTask>

@{
    ViewBag.Title = "Задачи заказа №"+ ViewBag.OrderID;
}

@section featured {
    <div class="alert alert-info">
        Создайте ваши задачи, укажите наименование задачи, желаемую дату начала и конца, дайте подробное описание.
        Укажите для задач статус "На оценку", чтобы задачи оценили исполнители.
    </div>
}
<br/>
<div class="row">
    <div class="col-md-1">
        @Html.ActionLink("Назад к заказу", "Details", "Order", new { orderid = ViewBag.OrderID }, new { @class = "btn btn-default" })
    </div>
</div>
<div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tr>
                    <th class="col-md-1">
                        @Html.ActionLink("Создать задачу", "Edit", new { orderid = ViewBag.OrderID, id = 0 }, new { @class = "btn btn-link" })
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
                    </th>
                    <th class="col-md-1">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().PublishTime)
                    </th>
                    <th class="col-md-1">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().StartTime)
                    </th>
                    <th class="col-md-1">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().StopTime)
                    </th>
                    <th class="col-md-1">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().ToProfile)
                    </th>
                    <th class="col-md-1">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().TaskStatus)
                    </th>
                    <th class="col-md-1">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().ManHour)
                    </th>
                    <th class="col-md-1">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().CostTotal)
                    </th>
                </tr>

                @foreach (var item in Model)
            {
                    <tr>
                        <td style="white-space:nowrap">
                            @Html.ActionLink("Изменить", "Edit", new { orderid = item.OrderID, id = item.OrderTaskID }, new { @class = "btn btn-link" })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                            @if (item.TaskFile != null)
                            {
                                <br />
                                @Html.ActionLink("Файл с описанием задачи", "GetTaskFile", new { id = item.OrderTaskID })
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PublishTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StopTime)
                        </td>
                        <td>
                            <b>@Html.ActionLink(item.ToProfile.Name, "View", "Profile", new { id = item.ToProfile.ProfileID, area = "Employee" }, null)</b>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TaskStatus.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ManHour)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CostTotal)
                        </td>
                    </tr>
                }
            </table>
            Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>
