<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="yandex-verification" content="f65c8635324b3a14" />
    
    @if (ViewBag.Description != null)
    {
        <meta name="description" content="@ViewBag.Description">
    }
    @if (ViewBag.Keywords != null)
    {
        <meta name="keywords" content="@ViewBag.Keywords">
    }
    @if (ViewBag.Title != null)
    {
    <title>@ViewBag.Title</title>
    }
    @RenderSection("styles", required: false)
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@

</head>
<body>
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("BI42.RU", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @*<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Магазин <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Магазин", "Index", "Home", new { area = "MyShop" }, null)</li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Доска объявлений ТОП 5", "Index", "ShopBoards", new { area = "MyShop" }, null)</li>
                            <li>@Html.ActionLink("Товары ТОП 10", "Index", "Goods", new { area = "MyShop" }, null)</li>
                            <li>@Html.ActionLink("Настроить магазин", "Index", "ShopConfig", new { area = "MyShop" }, null)</li>
                        }
                    </ul>
                </li>*@
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Заказчик <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Кабинет заказчика", "Index", "Home", new { area = "Customer" }, null)</li>
                        <li>@Html.ActionLink("Найти подрядчика", "Index", "FindEmployee", new { area = "Customer" }, null)</li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Разместить заказ", "Index", "Order", new { area = "Customer" }, null)</li>
                            <li>@Html.ActionLink("Профиль заказчика", "Index", "Profile", new { area = "Customer" }, null)</li>
                        }
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Подрядчик<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Кабинет подрядчика", "Index", "Home", new { area = "Employee" }, null)</li>
                        <li>@Html.ActionLink("Найти заказ", "Index", "FindOrder", new { area = "Employee" }, null)</li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Отобранные заказы", "Index", "OrderWatch", new { area = "Employee" }, null)</li>
                            <li>@Html.ActionLink("Мои заявки", "Index", "Bid", new { area = "Employee" }, null)</li>
                            <li>@Html.ActionLink("Мои примеры работ", "Index", "MyWork", new { area = "Employee" }, null)</li>
                            <li>@Html.ActionLink("Профиль подрядчика", "Index", "Profile", new { area = "Employee" }, null)</li>
                        }
                    </ul>
                </li>
                <li>@Html.ActionLink("О бирже", "About", "Home", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Контакт", "Contact", "Home", new { area = "" }, null)</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <div class="container-fluid">        

        @if (ViewBag.Message != null)
        {
            <div class="alert alert-warning">@ViewBag.Message</div>
        }
       
        @RenderSection("featured", required: false)      

        <div class="container-fluid">
            @if (!"".Equals(ViewBag.Title) && @Url.Action()!="/")
            {
                <h1>@ViewBag.Title</h1>
            }
            @RenderBody()
        </div>

    </div>
    <div style="padding-bottom: 60px"></div>
    <div class="navbar navbar-bottom">
        <div class="container-fluid">
            <div class="row text-center">
                <!-- Yandex.Metrika informer -->
                <a href="https://metrika.yandex.ru/stat/?id=39664505&amp;from=informer"
                   target="_blank" rel="nofollow">
                    <img src="https://informer.yandex.ru/informer/39664505/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
                         style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" class="ym-advanced-informer" data-cid="39664505" data-lang="ru" />
                </a>
                <!-- /Yandex.Metrika informer -->
                <!-- Yandex.Metrika counter -->
                <script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter39664505 = new Ya.Metrika({
                    id:39664505,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
                </script>
                <noscript><div><img src="https://mc.yandex.ru/watch/39664505" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
                <!-- /Yandex.Metrika counter -->

            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="text-muted">&copy; @DateTime.Now.Year BI42.RU</p>
                </div>
            </div>    
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
