@model Bi42.Models.Bid
@{
    ViewBag.Title = "Заявка №"+Model.BidID+" от " + Model.ProfileName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured {
    <div class="alert alert-info">
    Рассмотрите предложение исполнителя. Если оно вас устраивает, примите предложение исполнителя.
    Исполнитель после принятия вами его предложения должен будет подтвердить его,
    с этого момента контракт между заказчиком и исполнителем считается заключённым.
    </div>
}

@using (Html.BeginForm("BidAccept", null, FormMethod.Post))
{
    @Html.ValidationSummary(false)
    @Html.HiddenFor(model => model.BidID)
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.CostTotal, new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.CostTotal, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.TimeRate, new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.TimeRate, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.Description, new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.Description, new { cols = 80, rows = 5, @class = "form-control", @readonly = "readonly"})
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-md-12">
                    <label for="ContractText">Текст контракта<small>, обновление: @ViewBag.PublishTime</small></label>
                    <textarea name="ContractText" rows="10" class="form-control">@ViewBag.ContractText</textarea> 
                </div>
            </div>
            <div class="row">&nbsp;</div>
@if (Model.BidStatusID < 3) {
            <div class="row">
                <div class="col-md-12">
                    <label>Выбрать исполнителя и направить ему текст контракта</label>
                    &nbsp;&nbsp;
                    <input type="checkbox" name="isAgree" value="true">
                </div>
            </div>
}
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-md-12">
                    @if (Model.BidStatusID < 3) { 
                        <input type="submit" value="Предложить подписать контракт" class="btn btn-default">
                        @:&nbsp;&nbsp;
                    }
                    @Html.ActionLink("Лента приватных сообщений", "Index", "PrivateMessage", new { orderid = Model.OrderID, bid=Model.BidID, retAction="BidView" }, new { @class = "btn btn-default" })
                    &nbsp;&nbsp;
                     @Html.ActionLink("Назад", "Index", "Bid", new { orderid = Model.OrderID }, new { @class="btn btn-default" })
                </div>
            </div>
        </div>
        @if (Model.BidStatusID == 3)
        {
            <div class="col-md-4">
                <div class="row">
                    <div class="well">
                        <h4>Контракт</h4>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="contractID">Номер контракта</label>
                                <input type="text" id="contractID" class="form-control" readonly="readonly" value="@ViewBag.ContractID" />
                                <label for="acceptTime">Дата заключения</label>
                                <input type="text" id="acceptTime" class="form-control" readonly="readonly" value="@ViewBag.AcceptTime" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
