@model IEnumerable<Bi42.Models.Bid>

@{
    ViewBag.Title = "Заявки по заказу №" +ViewBag.OrderID + ", " + ViewBag.OrderName;
}

@section featured {
    <div class ="alert alert-info">
    Просмотрите заявки иполнителей и выберите исполнителя.
    Для просмотра нажмите ссылку "Смотреть".
    </div>
    <h4>Описание заказа</h4>
    <div class="well">
        @ViewBag.OrderDescription
    </div>
}

<table class="table table-bordered">
    <tr>
        <th class="col-md-1">
            @Html.ActionLink("Вернуться к заказам", "Index", "Order", null, new { @class = "btn btn-link" })
        </th>
        <th>
            Заявка
        </th>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.BidStatusName)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.PublishTime)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.CostTotal)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.TimeRate)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="white-space:nowrap">
                @Html.ActionLink("Открыть заявку", "BidView", new { id = item.BidID }, new { @class = "btn btn-link" })
            </td>
            <td>
                @Html.ActionLink(item.ProfileName, "ProfileView", "Profile", new { id = item.ProfileID, area = "Employee" }, new { @class = "btn btn-link" })
                <br/>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BidStatusName)
            </td>
            <td>
                @(item.Status == 1 ? "Архив" : "")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeRate)
            </td>
        </tr>
    }

</table>
