@model Bi42.Models.Profile

@{
    ViewBag.Title = "Удаление профиля";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(model => model.OrderAreaID, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.OrderAreaName, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Slogan, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Slogan, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        @if (Model.LogoImage != null)
        {
            <div class="row">
                <div class="col-md-12">
                    @Html.Label("LogoImage", new { @class = "control-label" })
                    <br />
                    <img id="LogoImage" src="@Model.LogoImage" />
                </div>
            </div>
        }

        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(model => model.SiteUrl, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.SiteUrl, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Phone, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Email, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(model => model.PublishTime, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.PublishTime, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Description, new { @class = "control-label" })
                @Html.TextAreaFor(model => model.Description, new { rows = 5, @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(model => model.IsActive, new { @class = "control-label" })
                &nbsp;
                @Html.DisplayFor(model => model.IsActive)
            </div>
        </div>
        <div class="row">&nbsp;</div>

        @using (Html.BeginForm())
        {
            <div class="row">
                <div class="col-md-12">
                    <input type="submit" class="btn btn-primary" value="Удалить" />
                    &nbsp;&nbsp;
                    @Html.ActionLink("Назад", "Index", null, new { @class = "btn btn-default" })
                </div>
            </div>
        }
    </div>
</div>